.mainBody {
  margin-top: 5%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 3em;
  padding-left: 3em;
}

.leftBody {
  flex: 3;
}

.rightBody {
  flex: 6;
  width: 100%;
}
